@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-primary);
}

body {
  font-family: var(--font-secondary);
}

.prose {
  max-width: 44rem;
}

.typing-demo {
  animation: blink .5s step-end infinite alternate;
  border-right: 2px solid;
  font-family: monospace;
  padding-right: 2px;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}